<div class="container">
  <div class="research">
    <div class="resea">
      RESEARCH INTEREST
      <hr />
      <div class="value">
        <ul class="list-group">
          <li class="list-group-item">Hybridize meta-surface</li>
          <li class="list-group-item">
            Spin orbit interaction of light & spin hall effect of light.
          </li>
          <li class="list-group-item">
            Spin orbit interaction in random medium
          </li>
        </ul>
      </div>
    </div>
    <div class="tech">
      TECHNICAL STRENGTHS
      <hr />
      <div class="value">
        <div class="row">
          <div class="col">Working Skill</div>
          <div class="col">
            Electron Beam Lithography, Scanning Electron Microscope
          </div>
        </div>
        <div class="row">
          <div class="col">Modeling & Analysis</div>
          <div class="col">COMSOL, CST Studio Suite , Blender, Inkscape</div>
        </div>
        <div class="row">
          <div class="col">Software & Tools</div>
          <div class="col">C, Python, MATLAB, Julia, MS Office, LATEX</div>
        </div>
      </div>
    </div>
    <div class="extra">
      EXTRA-CIRRUCULAR
      <hr />
      <div class="value">
        <ul class="list-group">
          <li class="list-group-item">
            Basic knowledge of HTML, CSS, SASS, JAVASCRIPT, TYPESCRIPT, PHP,
            SQL, MYSQL, MONGODB, Flask, Angular, React
          </li>
          <li class="list-group-item">
            Basic knowledge of Kdenlive (Videoediting software), Audacity (Audio
            editing software)
          </li>
        </ul>
      </div>
    </div>
    <div class="teach">
      TEACHING EXPERIENCE
      <hr />
      <div class="value">
        <ul class="list-group">
          <li class="list-group-item">
            Physics Laboratory III (Teaching assistance)
          </li>
          <li class="list-group-item">Electronics Lab (Teaching assistance)</li>
        </ul>
      </div>
    </div>
  </div>
</div>
