@import "../../../fonts.scss";
@import "../../../colors.scss";
$padding: 50px;
$br: 5px;
.research {
    .resea {
        color: var(--lightColor);
        padding-top: $padding;
        .value {
            padding-left: $padding;
            .list-group {
                .list-group-item {
                    color: var(--lightColor);
                    background-color: var(--lightBg);
                    border: 1px solid var(--lightColor);
                    border-radius: $br;
                    border-collapse: collapse;
                }
            }
        }
    }
    .tech {
        color: var(--lightColor);
        padding-top: $padding;
        .value {
            padding-left: $padding;
            .row {
                .col {
                    &:first-child {
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .extra {
        color: var(--lightColor);
        padding-top: $padding;

        .value {
            padding-left: $padding;

            .list-group {
                .list-group-item {
                    color: var(--lightColor);
                    background-color: var(--lightBg);

                    border: 1px solid var(--lightColor);
                    border-radius: $br;
                    border-collapse: collapse;
                    span {
                        background: -webkit-linear-gradient(0deg, violet, indigo, blue, green, yellow, orange, red);
                        background-clip: text;
                        -webkit-background-clip: text;
                        text-fill-color: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }
        }
    }
    .teach {
        color: var(--lightColor);
        padding-top: $padding;
        .value {
            padding-left: $padding;
            .list-group {
                .list-group-item {
                    color: var(--lightColor);
                    background-color: var(--lightBg);
                    border: 1px solid var(--lightColor);
                    border-radius: $br;
                    border-collapse: collapse;
                }
            }
        }
    }
}
